.node {
    width: 20px;
    height: 20px;
    outline: 1px dotted royalblue;
    display: inline-block;
  }
  
  .node-finish {
    background-color: red;
  }
  
  .node-start {
    background-color: green;
  }

  