body { 
  background-color:white;
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('space.jpg') no-repeat center center fixed; 
  background-size: cover;
}

.title {
  font-weight: bold;
  color: darkslategray;
}

.grid {
  width: 100%
}

.button {
  width: 20%
}

.italic {
  font-style: italic;
}